# ext4/f2fs script
service fsprops /fscheck setprops
    class core
    oneshot

# Execute fancyinit1 startup script
service fancyinit1 /sbin/fancyinit1
    class main
    oneshot

# Execute fancyinit2 startup script
service fancyinit2 /sbin/fancyinit2
    class late_start
    oneshot
